/* rem and em do NOT depand on html font-size in media queries.
instead, 1rem = 1em = 16px */

/* ************************************ */
/* BELOW 1344px (smaller desktops)  */
/* ************************************ */

/* 1344 / 16 = 84 */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
    padding: 0 3.2rem;
  }

  .hero-header {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 2rem;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .nav-list {
    gap: 3.6rem;
  }

  .hero.grid {
    gap: 4.8rem;
  }

  .testimonials-text {
    padding: 6.4rem;
  }

  .header-primary {
    font-size: 1.4rem;
  }

  .header-secondary {
    font-size: 3.6rem;
  }

  .section-cta {
    padding: 3.6rem 0 9.6rem;
  }

  .cta-form__header {
    font-size: 3.6rem;
  }

  .footer {
    padding: 9.6rem 0;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .header-nav {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  .header-nav.open-nav {
    opacity: 1;
    transform: translateX(0);
  }

  .header-nav.close-nav {
    transform: translateX(100%);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link {
    font-size: 3rem;
  }

  .hero {
    padding: 0 6.4rem;
  }

  .hero.grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6.4rem;
  }

  .hero-detail {
    justify-content: center;
    margin-top: 3.6rem;
  }

  .hero-img {
    width: 70%;
  }

  .featured-logo {
    height: 2.4rem;
  }

  .testimonials.grid {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery.grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta.grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .cta-forms.grid {
    grid-template-columns: 1fr;
  }

  .cta-form__header {
    font-size: 3.6rem;
  }

  .how-step__number {
    font-size: 7.4rem;
  }

  .card-description {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .cta-form:last-child {
    margin-top: 1.2rem;
  }
}

@media (max-width: 44em) {
  .meals-main.grid {
    grid-template-columns: 1fr 1fr;
  }

  .meals-diet {
    grid-column: span 2;
    justify-self: center;
  }

  .pricing-cards.grid {
    gap: 4.8rem;
  }

  .pricing-card {
    width: 100%;
  }

  .features.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .grid--footer.grid {
    gap: 6.4rem;
  }

  .logo-col {
    grid-column: span 3;
    grid-row: 2 / 3;
  }

  .address-col {
    grid-column: span 3;
    grid-row: 2 / 3;
  }

  .nav-col {
    grid-column: span 2;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 43.75%;
  }

  .featured-logo {
    height: 1.4rem;
  }

  .how-main.grid {
    grid-template-columns: 1fr;
  }

  .how-image {
    transform: translateY(2.4rem);
  }

  .how-image--1 {
    grid-row: 1 / span 1;
  }

  .how-image--3 {
    grid-row: 5 / span 1;
  }

  .meals-main.grid {
    grid-template-columns: 1fr;
  }

  .meals-diet {
    grid-column: span 1;
    justify-self: center;
  }

  .testimonials-text {
    padding: 6.4rem 3.2rem;
  }

  .testimonials-text .headers {
    margin-bottom: 6.4rem;
  }

  .testimonials-customers.grid {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery.grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-cards.grid {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .features.grid {
    grid-template-columns: 1fr;
  }

  .cta.grid {
    grid-template-columns: 1fr;
  }

  .cta-image-container {
    height: 37rem;
    grid-row: 1 / 2;
  }
}

@media (max-width: 25em) {
  .hero-button.margin-right-sm {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .featured-logo {
    height: 1rem;
  }
}

